h1, h2, h3 {
  font-family: 'Jockey One', sans-serif;
  margin: 0!important;
}

p, a, body {
  font-family: 'Poppins';
  color: #222222;
  margin: 0!important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.h1-light-red {
  font-size: 100px;
  color: rgba(233, 75, 75, 0.22);
  font-weight: 400;
}

.h2-red {
  color: #E94B4B;
  font-weight: 400;
}

.h3-white {
  color: #FFF;
  font-size: 40px;
  font-weight: 400;
}

.p-text-white {
  color: #FFF;
}



// RESPONSIVE
@media screen and (max-width: 768px) {
  .h3-white {
    font-size: 35px;
    text-align: center;
    line-height: 1em;
    padding-bottom: 1em;
  }
}


@media screen and (max-width: 480px) {
  .h1-light-red {
    font-size: 60px;
  }
}
