.container-page-about {
  a {
    display: block;
    text-align: center;
    padding-top: 20px;
  }
}

.about-title {
  text-align: center;
  padding-top: 210px;
  padding-bottom: 40px;

  p {
    text-align: center;
  }
}



// RESPONSIVE
@media screen and (max-width: 480px) {
  .about-title {
    padding-top: 40px;
  }

  .container-page-about {
    padding-bottom: 50px;
  }
}
