.background-red {
  background-color: #E94B4B;
}

.container-intro {
  padding-block: 200px;
}

.container-intro-text {
  width: 504px;
}

.photo-clara {
  width: 425px;
  height: 479px;
  background-color: black;
}

.h2-homepage {
  font-size: 100px;
  color: #FFFFFF2B;
  font-weight: 400;
  padding-bottom: 50px;
}
