.background-red {
  background-color: #E94B4B;
}

.container-intro {
  padding-block: 180px;

  h1 {
    color: rgba(255, 255, 255, 0.50);;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
  }

  h2 {
    color: #FFF;
    font-size: 55px;
    font-weight: 400;
    padding-bottom: 20px;
  }
}

.container-intro-text {
  width: 504px;
  padding-top: 100px;

  p {
    padding-bottom: 40px;
  }
}

.photo-clara {
  width: 425px;
  height: 479px;
  background-color: black;
}

.h2-homepage {
  font-size: 100px;
  color: #FFFFFF2B;
  font-weight: 400;
  padding-bottom: 50px;
}

.container-web-techno-part {
  p {
    color: rgba(255, 255, 255, 0.25);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }
}

.img-vignette-project {
  background: black;
  width: 240px;
  height: 240px;
  margin-inline: 5px;
}
