.background-red {
  background-color: #E94B4B;
}

.container-intro {
  padding-top: 232px;
}

.container-intro-text {
  width: 504px;
}

.photo-clara {
  width: 425px;
  height: 479px;
  background-color: black;
}
