.container-page-project-show {
  padding-bottom: 150px;

  h1 {
    padding-top: 40px;
  }
}

.project-title {
  line-height: 1em;
  text-align: center;
  padding-bottom: 50px;
}

.project-image {
  object-fit: cover;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  max-width: 100%;
}

.project-intro {
  display: flex;
  padding-bottom: 100px;

  div>div {
    align-items: baseline;
  }
}

.project-description {
  width: 50%;
}

.project-data {
  width: 50%;

  div {
    display: flex;
    padding-bottom: 15px;

    h2 {
      width: 35%;
    }

  }

}

.project-images {
  display: grid;
  row-gap: 20px;
}

.project-image-alone {
  img {
    object-fit: cover;
    width: 100%;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  }
}


// RESPONSIVE

@media screen and (max-width: 768px) {
  .project-intro {
    display: block;
  }

  .project-description {
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }

  .project-data {
    width: 100%;

    div {
      display: flex;
      padding-bottom: 15px;

      h2 {
        width: 50%;
      }

    }

  }

}
