.container-infos-and-description-project>div>div {
  align-items: baseline;
}

.container-description-project {
  width: 50%;
}

.container-infos-project {
  width: 50%;

  div {
    display: flex;
    padding-bottom: 15px;

    h2 {
      width: 35%;
    }

    p {
      width: 65%;
    }
  }

}
