.container-page-project-show {
  padding-bottom: 80px;
  position: relative; /* Ajout de position relative pour le positionnement absolu du logo */

  h1 {
    padding-top: 40px;
  }
}

.project-title {
  line-height: 1em;
  text-align: center;
  padding-bottom: 50px;
}

.container-project-image img {
  object-fit: cover;
  width: 100%;
}

.container-project-image {
  position: relative;
  overflow: hidden; /* Assure que le logo ne dépasse pas l'image */
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  max-width: 1000px;
  height: 500px;

  .page-show-project-logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .page-show-project-logo {
    max-width: 250px;
  }

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.project-intro {
  display: flex;
  padding-bottom: 100px;

  div>div {
    align-items: baseline;
  }
}

.project-description {
  width: 50%;
}

.project-data {
  width: 50%;

  div {
    display: flex;
    padding-bottom: 15px;

    h2 {
      width: 35%;
    }
  }
}

.project-images {
  display: grid;
  row-gap: 20px;
}

.project-image-alone {
  img {
    object-fit: cover;
    width: 100%;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  }
}

// NEXT PROJECT PART
.next-project-part {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  hr {
    margin-top: 5rem;
    margin-bottom: 1rem;
    border: 0.5px solid #222222;
  }
}

// RESPONSIVE
@media screen and (max-width: 768px) {
  .project-intro {
    display: block;
  }

  .project-description {
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }

  .project-data {
    width: 100%;

    div {
      display: flex;
      padding-bottom: 15px;

      h2 {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container-project-image {
    max-height: 300px;

    .page-show-project-logo {
      max-width: 150px;
    }
  }
}




// .container-page-project-show {
//   padding-bottom: 80px;

//   h1 {
//     padding-top: 40px;
//   }
// }

// .project-title {
//   line-height: 1em;
//   text-align: center;
//   padding-bottom: 50px;
// }

// .project-image {
//   object-fit: cover;
//   box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
//   width: 1000px;
//   height: 500px;
//   max-width: 100%;
// }

// .page-show-project-logo-container {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);

//   .page-show-project-logo {
//     max-width: 250px;
//   }
// }

// .project-intro {
//   display: flex;
//   padding-bottom: 100px;

//   div>div {
//     align-items: baseline;
//   }
// }

// .project-description {
//   width: 50%;
// }

// .project-data {
//   width: 50%;

//   div {
//     display: flex;
//     padding-bottom: 15px;

//     h2 {
//       width: 35%;
//     }
//   }

// }

// .project-images {
//   display: grid;
//   row-gap: 20px;
// }

// .project-image-alone {
//   img {
//     object-fit: cover;
//     width: 100%;
//     box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
//   }
// }



// // NEXT PROJECT PART
// .next-project-part {

//   div {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

//   hr {
//     margin-top: 5rem;
//     margin-bottom: 1rem;
//     border: 0.5px solid #222222;
//   }
// }



// // RESPONSIVE

// @media screen and (max-width: 768px) {
//   .project-intro {
//     display: block;
//   }

//   .project-description {
//     width: 100%;
//     text-align: center;
//     padding-top: 50px;
//   }

//   .project-data {
//     width: 100%;

//     div {
//       display: flex;
//       padding-bottom: 15px;

//       h2 {
//         width: 50%;
//       }

//     }

//   }

// }

// @media screen and (max-width: 480px) {
//   .project-image {
//     max-height: 300px;
//   }
// }
