<div class="navbar flex-container align-items-center">

  <div class="nav-logo">
    <%= link_to "/", class: "logo" do %> Clara Pécot
      <% end %>
  </div>

  <div class="flex-container justify-content-center">
    <%= link_to "À PROPOS", about_path, class: "nav-link" %>
    <%= link_to "PROJETS", projects_path, class: "nav-link" %>
    <%= link_to "CONTACT", contact_path, class: "nav-link" %>
  </div>

</div>
