<div class="navbar" id="navbar">

  <div class="nav-logo typing-demo">
    <%= link_to "/", class: "logo", id: "logo" do %> Clara Pécot
      <% end %>
  </div>

  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>


  <ul class="nav-links">
    <li><%= link_to "À PROPOS", about_path, class: "nav-link #{active_class(about_path)}" %></li>
    <li><%= link_to "PROJETS", projects_path, class: "nav-link #{active_class(projects_path)}" %></li>
    <li><%= link_to "CONTACT", contact_path, class: "nav-link #{active_class(contact_path)}" %></li>
  </ul>

</div>
