<div class="container background-light-red">

  <h1 class="h1-light-red text-align-center padding-top-80px">À PROPOS</h1>

  <%# TO REMOVE %>
  <%= cl_image_tag("mzkmpzx9dwxceco562qhx49zpug0.jpg", width: 200, height: 200, crop: :fill) %>

</div>
