<div class="container background-light-red">

  <h1 class="h1-light-red text-align-center padding-top-210px padding-bottom-40px">À PROPOS</h1>
    <p class="text-align-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>

    <%# CV HERE %>
    <a href=""></a>

</div>
