<div class="container background-light-red">

  <h1 class="h1-light-red text-align-center padding-top-210px padding-bottom-40px">À PROPOS</h1>
    <p class="text-align-center">Dans le webmarketing depuis 4 ans, j'ai d'abord été assistante puis chargée de communication digitale. Un job qui m'a permis d'appréhender le domaine à 360°, et, de savoir que je souhaitais me spécialiser en développement web. L'obtention d'un diplôme en 2023 avec Le Wagon est venue concrétiser cela !</p>

    <%# CV HERE %>
    <a href=""></a>

</div>
