<div class="container background-light-red container-page-about">

  <h1 class="about-title h1-light-red fade-in-text">À PROPOS</h1>
    <p>Dans le webmarketing depuis 4 ans, j'ai d'abord été assistante puis chargée de communication digitale. Un job qui m'a permis d'appréhender le domaine à 360°, et, de savoir que je souhaitais me spécialiser en développement web. L'obtention d'un diplôme en 2023 avec Le Wagon est venue concrétiser cela !</p>

    <%# CV HERE %>
    <%= link_to '- voir CV', pdf_path('cv-clara-pecot.pdf'), target:'_blank', class:'' %>

</div>
