<div class="container background-light-red">
  <h1 class="h1-light-red text-align-center padding-top-230px">CONTACT</h1>

    <div class="flex-container justify-content-center padding-top-30px">

      <div class="flex-container">
        <h2 class="h2-red padding-right-50px">E-mail</h2>
          <p class="p-padding-top-045em">clara.pecot@hotmail.fr</p>
      </div>

      <div class="padding-left-140px flex-container">
        <h2 class="h2-red padding-right-50px">Réseaux sociaux</h2>
          <div>
            <p class="p-padding-top-045em"><a href="https://www.linkedin.com/in/clarapecot/" target="_blank">linkedin</a></p>
            <a href="https://github.com/ClaraP44" target="_blank">github</a></p>
          </div>
      </div>

    </div>
</div>
