<div class="container background-light-grey container-page-contact">
  <h1 class="h1-light-red contact-title fade-in-text">CONTACT</h1>

    <div class="contact-infos">

      <div class="contact-email">
        <h2 class="h2-red padding-right-50px">E-mail</h2>
          <p class="p-padding-top-045em">clara.pecot44@gmail.com</p>
      </div>

      <div class="contact-social-media">
        <h2 class="h2-red padding-right-50px">Réseaux sociaux</h2>
          <div>
            <div class="btn-underline">
              <p class="p-padding-top-045em"><span><a href="https://www.linkedin.com/in/clarapecot/" target="_blank" class="p-padding-top-045em">linkedin</a></span><svg viewBox="0 0 13 20"><polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg></p>
            </div>
            <div class="btn-underline">
              <span><a href="https://github.com/ClaraP44" target="_blank">github</a></span><svg viewBox="0 0 13 20"><polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg></p>
            </div>
          </div>
      </div>

    </div>
</div>
