<div class="container background-red">

  <div class="container-intro flex-container space-between">
    <div class="container-intro-text">
      <h1>Bonjour, je suis Clara Pécot !</h1>
        <h2 class="h2-white-55px">Front-end developer</h2>
        <p class="p-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

        <div class="btn">
          <%= link_to 'me contacter', contact_path %>
        </div>

    </div>

    <div class="photo-clara">
    </div>
  </div>

  <div class="padding-bottom-100px">
    <h2 class="h2-homepage text-align-center">PROJETS</h2>

    <%# TODO %>
    <%= cl_image_tag("mzkmpzx9dwxceco562qhx49zpug0.jpg", width: 200, height: 200, crop: :fill) %>

    <div class="flex-container justify-content-center padding-bottom-40px">
      <% @projects.first(4).each do |project| %>
        <div class="img-vignette-project">
          <%= link_to project.name, project_path(project) %>
        </div>
      <% end %>
    </div>


    <div class="btn-italic">
      <%= link_to '- voir plus', projects_path %>
    </div>
  </div>

  <div>
    <h2 class="h2-homepage text-align-center">COMPÉTENCES</h2>

      <div class="container-icones-competences flex-container space-between">

        <div>
          <div class="padding-bottom-40px">
            <i class="icone-competence padding-bottom-15px fa-solid fa-code" style="color: #ffffff;"></i>
            <p>développement d’applications web</p>
          </div>

          <div>
            <i class="icone-competence padding-bottom-15px fa-sharp fa-solid fa-photo-film" style="color: #ffffff;"></i>
            <p>montage vidéo</p>
          </div>
        </div>

        <div>
          <div class="padding-bottom-40px">
            <i class="icone-competence padding-bottom-15px fa-brands fa-wordpress-simple" style="color: #ffffff;"></i>
            <p>création de sites wordpress</p>
          </div>

          <div>
            <i class="icone-competence padding-bottom-15px fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
            <p>référencement naturel et payant</p>
          </div>
        </div>

        <div>
          <div class="padding-bottom-40px">
            <i class="icone-competence padding-bottom-15px fa-solid fa-hashtag" style="color: #ffffff;"></i>
            <p>gestion de réseaux sociaux</p>
          </div>

          <div>
            <i class="icone-competence padding-bottom-15px fa-solid fa-palette" style="color: #ffffff;"></i>
            <p>suite adobe</p>
          </div>
        </div>

      </div>

      <div class="container-web-techno-part flex-container space-between">
        <h3 class="h3-white">Langages web et technologies</h3>

          <div class="flex-container padding-top-1em padding-right-50px">
            <div>
              <p class="padding-bottom-50px">Ruby</p>
              <p>Ruby on Rails</p>
            </div>

            <div class="padding-left-100px">
              <p class="padding-bottom-50px">Javascript</p>
              <p>SQL</p>
            </div>

            <div class="padding-left-100px">
              <p class="padding-bottom-50px">HTML/CSS</p>
              <p>Figma</p>
            </div>
          </div>
      </div>

  </div>

  <hr class="hr-footer">

  <%# FOOTER %>
  <div class="footer flex-container space-between">

    <div class="flex-container">
      <h2>E-mail</h2>
        <p>clara.pecot@hotmail.fr</p>
    </div>

    <div class="flex-container">
      <h2>Réseaux sociaux</h2>
        <div>
          <p><a href="https://www.linkedin.com/in/clarapecot/" target="_blank">linkedin</a></p>
          <a href="https://github.com/ClaraP44" target="_blank">github</a></p>
        </div>
    </div>

  </div>

</div>
