<div class="container background-red">

  <div class="container-intro flex-container space-between">
    <div class="container-intro-text">
      <h1>Bonjour, je suis Clara Pécot !</h1>
        <h2 class="h2-white-55px">Front-end developer</h2>
        <p class="p-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

        <div class="btn">
          <%= link_to 'me contacter', contact_path %>
        </div>

    </div>

    <div class="photo-clara">
    </div>
  </div>

  <div>
    <h2 class="h2-homepage text-align-center">PROJETS</h2>
  </div>

  <div>
    <h2 class="h2-homepage text-align-center">COMPÉTENCES</h2>

    <h3 class="h3-white">Languages web utilisés</h3>
  </div>

<div class="footer">
  <hr>
  <h2 class="h2-footer">Email</h2>
  <h2 class="h2-footer">Réseaux sociaux</h2>
</div>

</div>
