<div class="container background-red">

  <div>
    <h1>Bonjour, je suis Clara Pécot !</h1>
    <h2>Front-end developer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <p>me contacter</p>
  </div>

  <div>
  </div>
  
</div>
