<div class="container background-light-red">
  <h1 class="h1-light-red text-align-center padding-top-80px padding-bottom-50px">PROJETS</h1>

  <div class="columns-3">
    <% @projects.each do |project| %>
      <div class="img-vignette-project">
        <%= link_to project.name, project_path(project) %>

        <% if project.photo.attached? %>
          <%= cl_image_tag project.photo.key, width: 200, height: 200, crop: :fill %>
        <% else %>
          <%= cl_image_tag("racphw8y1wvw9fv9s4lc.jpeg", width: 200, height: 200, crop: :fill) %>
        <% end %>

      </div>
    <% end %>
  </div>

</div>
