<div class="container background-light-red">
  <h1 class="h1-light-red text-align-center"><%= @project.name %></h1>

  <h2><%= @project.year %></h2>
  <h2><%= @project.team %></h2>
  <h2><%= @project.client %></h2>
</div>
