.btn {
  a {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding-block: 8px;
    padding-inline: 20px;
    text-decoration: none;
    transition: border 0.5s ease;
    transition: color 0.3s ease;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: border 0.5s ease;
    transition: color 0.3s ease;
  }
}
