.footer {
  padding-bottom: 110px;

  h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding-right: 50px;
  }

  p, a {
    color: #FFF;
    padding-top: 1em;
  }
}

.hr-footer {
  margin-top: 80px;
  margin-bottom: 50px;
}
