.navbar {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.02);
  height: 80px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;

  a:hover {
    text-decoration: none;
    color: #E94B4B;
  }
}

.nav-link {
  padding-inline: 45px;
}

.nav-logo {
  left: 40px;
  position: absolute;
}

.logo {
  font-family: 'Jockey One', sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #E94B4B;
}

// TEST JS
.active {
  color: #E94B4B;
}
