/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Graphical variables
@import "config/fonts";

// Your CSS partials
@import "components/index";
@import "pages/index";

hr {
  border: 0.5px solid white;
  padding-inline: 345px;
}

.container {
  padding-inline: 345px;
}

.display-block {
  display: block!important;
  padding: 0!important;
}

.flex-container {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.background-light-red {
  // background-color: #FFF9FB;
  background: url('https://res.cloudinary.com/drb37tawz/image/upload/v1693253966/Rectangle_22_byys18.jpg');
  min-height: calc(100vh - 80px);
}

.align-items-center {
  align-items: center;
}

.object-fit-cover {
  object-fit: cover;
}

.text-align-center {
  text-align: center;
}

.width-40percent {
  width: 40%;
}

.width-50percent {
  width: 50%;
}

.width-60percent {
  width: 60%;
}

// PADDINGS

.padding-bottom-15px {
  padding-bottom: 15px;
}

.padding-bottom-40px {
  padding-bottom: 40px;
}

.padding-bottom-50px {
  padding-bottom: 50px;
}

.padding-bottom-100px {
  padding-bottom: 100px;
}

.padding-bottom-150px {
  padding-bottom: 150px;
}

.padding-left-50px {
  padding-left: 50px;
}

.padding-left-100px {
  padding-left: 100px;
}

.padding-left-140px {
  padding-left: 140px;
}

.padding-right-50px {
  padding-right: 50px;
}

.padding-top-1em {
  padding-top: 1em;
}

.padding-top-30px {
  padding-top: 30px;
}

.padding-top-80px {
  padding-top: 80px;
}

.padding-top-210px {
  padding-top: 210px;
}
